html{overflow-y:hidden;}
body{margin:0;}
a img{border:0px;}
::-moz-selection{background-color:#425c78;color:#fff;}
::selection{background-color:#425c78;color:#fff;}
.about{padding-left:60px;padding-right:60px;}
.android-search-box .mdl-textfield__input{color:rgba(0, 0, 0, 0.87);}
.android-header .mdl-menu__container{z-index:50;margin:0 !important;}
.mdl-textfield--expandable{width:auto;}
.android-fab{position:absolute;right:20%;bottom:-26px;z-index:3;background:#64ffda !important;color:black !important;}
.android-mobile-title{display:none !important;}
.android-logo-image{height:28px;}
.android-header{overflow:visible;background-color:white;}
.android-header .material-icons{color:#767777 !important;}
.android-header .mdl-layout__drawer-button{background:transparent;color:#767777;}
.android-header .mdl-navigation__link{color:#2d3f51;font-weight:700;font-size:14px;}
.android-navigation-container{direction:rtl;-webkit-order:1;-ms-flex-order:1;order:1;width:500px;transition:opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
width 0.2s cubic-bezier(0.4, 0, 0.2, 1);}
.android-navigation{direction:ltr;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end;width:800px;}
.android-search-box.is-focused + .android-navigation-container{opacity:0;width:100px;}
.android-navigation .mdl-navigation__link{display:inline-block;height:60px;line-height:68px;background-color:transparent !important;border-bottom:4px solid transparent;}
.android-navigation .mdl-navigation__link:hover{border-bottom:4px solid #2d3f51;}
.android-search-box{-webkit-order:2;-ms-flex-order:2;order:2;margin-left:16px;margin-right:16px;}
.android-more-button{-webkit-order:3;-ms-flex-order:3;order:3;}
.android-drawer{border-right:none;}
.android-drawer-separator{height:1px;background-color:#dcdcdc;margin:8px 0;}
.android-drawer .mdl-navigation__link.mdl-navigation__link{font-size:14px;color:#757575;}
.android-drawer span.mdl-navigation__link.mdl-navigation__link{color:#2d3f51;}
.android-drawer .mdl-layout-title{position:relative;background:#425c78;height:160px;display:none;}
.android-drawer .android-logo-image{position:absolute;bottom:16px;}
.android-be-together-section{position:relative;height:50vw;width:auto;background-color:#f3f3f3;background:url('images/cvrpic1.jpg') center 30% no-repeat;background-size:cover;background-attachment:fixed;}
@media (max-width:600px){.android-be-together-section{height:20vw;}
}
.logo-font{font-family:'Roboto', 'Helvetica', 'Arial', sans-serif;line-height:1;color:#767777;font-weight:500;}
.android-slogan{font-size:60px;padding-top:160px;}
.android-sub-slogan{font-size:21px;padding-top:24px;}
.android-create-character{font-size:21px;padding-top:400px;}
.android-create-character a{text-decoration:none;color:#767777;font-weight:300;}
.android-screen-section{position:relative;padding-top:60px;padding-bottom:80px;}
.android-screens{text-align:right;width:100%;white-space:nowrap;overflow-x:auto;}
.android-screen{text-align:center;}
.android-screen .android-link{margin-top:16px;display:block;z-index:2;}
.android-image-link{text-decoration:none;}
.android-wear{display:inline-block;width:160px;margin-right:32px;}
.android-wear .android-screen-image{width:40%;z-index:1;}
.android-phone{display:inline-block;width:64px;margin-right:48px;}
.android-phone .android-screen-image{width:100%;z-index:1;}
.android-tablet{display:inline-block;width:110px;margin-right:64px;}
.android-tablet .android-screen-image{width:100%;z-index:1;}
.android-tablet .android-link{display:block;z-index:2;}
.android-tv{display:inline-block;width:300px;margin-right:80px;}
.android-tv .android-screen-image{width:100%;z-index:1;}
.android-auto{display:inline-block;width:300px;overflow:hidden;}
.android-auto .android-screen-image{display:block;height:300px;z-index:1;}
.android-wear-section{position:relative;background:url('images/svnit1.jpg') center top no-repeat;background-size:cover;height:700px;background-attachment:fixed;}
.twitter{position:relative;background:url('images/c3.jpg') center top no-repeat;background-size:cover;height:350px;background-attachment:fixed;}
.android-wear-band{position:absolute;bottom:0;width:100%;text-align:center;background-color:#37474f;}
.android-wear-band-text{max-width:800px;margin-left:25%;padding:24px;text-align:left;color:white;}
.android-wear-band-text p{padding-top:8px;}
.android-link{text-decoration:none;color:#2d3f51 !important;}
.android-link:hover{color:#425d78 !important}
.android-link .material-icons{position:relative;top:-1px;vertical-align:middle;}
.android-alt-link{text-decoration:none;color:#425d78 !important;font-size:16px;}
.android-alt-link:hover{color:#425d78 !important;}
.android-alt-link .material-icons{position:relative;top:6px;}
.android-customized-section{text-align:center;}
.android-customized-section-text{max-width:500px;margin-left:auto;margin-right:auto;padding:80px 16px 0 16px;}
.android-customized-section-text p{padding-top:16px;}
.android-customized-section-image{background:url('../images/devices.jpg') center top no-repeat;background-size:cover;height:400px;}
.android-more-section{padding:80px 0;max-width:1044px;margin-left:auto;margin-right:auto;}
.android-more-section .android-section-title{margin-left:12px;padding-bottom:24px;}
.android-card-container{}
.android-card-container .mdl-card__media{overflow:hidden;background:transparent;}
.android-card-container .mdl-card__media img{width:100%;}
.android-card-container .mdl-card__title{background:transparent;height:auto;}
.android-card-container .mdl-card__title-text{color:black;height:auto;display:block;margin:0 auto;}
.android-card-container .mdl-card__supporting-text{height:auto;color:black;padding-bottom:56px;}
.android-card-container .mdl-card__actions{position:absolute;bottom:0;}
.android-card-container .mdl-card__actions a{border-top:none;font-size:16px;}
.android-footer{background-color:#fafafa;position:relative;}
.android-footer a:hover{color:#2d3f51;}
.android-footer .mdl-mega-footer--top-section::after{border-bottom:none;}
.android-footer .mdl-mega-footer--middle-section::after{border-bottom:none;}
.android-footer .mdl-mega-footer--bottom-section{position:relative;}
.mdl-mega-footer--center-section{position:absolute;top:0px;right:0px;left:0px;bottom:0px;margin:auto;width:230px;}
.android-footer .mdl-mega-footer--bottom-section a{margin-right:2em;}
.android-footer .mdl-mega-footer--right-section a .material-icons{position:relative;top:6px;}
.android-link-menu:hover{cursor:pointer;}
.social-btn-cnt{margin:0 auto;margin-left:25px;}
.mdl-mega-footer--center-section > p{margin-top:10px;}
@media (max-width:900px){.android-navigation-container{display:none;}
.android-title{display:none !important;}
.android-mobile-title{display:block !important;position:absolute;left:calc(50% - 70px);top:12px;transition:opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);}
.android.android-search-box.is-focused ~ .android-mobile-title,
.android-search-box.is-focused + .android-navigation-container + .android-mobile-title{opacity:0;}
.android-more-button{display:none;}
.android-search-box.is-focused{width:calc(100% - 48px);}
.android-search-box .mdl-textfield__expandable-holder{width:100%;}
.android-be-together-section{height:350px;}
.android-slogan{font-size:26px;margin:0 16px;padding-top:24px;}
.android-sub-slogan{font-size:16px;margin:0 16px;padding-top:8px;}
.android-create-character{padding-top:200px;font-size:16px;}
.android-create-character img{height:12px;}
.android-fab{display:none;}
.android-wear-band-text{margin-left:0;padding:16px;}
.android-footer .mdl-mega-footer--bottom-section{display:none;}
}
.teamimg{height:200px;width:200px;border-radius:100px;}
#map{height:450px;}
.center{display:block;margin:0 auto;padding:20px;max-width:25vw;max-height:25vw;}
#glogo{margin-top:4vw;}
#overlay{position:relative;top:0px;left:0px;width:100%;height:100%;background-color:rgba(0,0,0,0.6);}
.partners{padding-left:50px;padding-right:50px;}
.team, .contact,.footer{color:#425c78;background-color:#fff;}
.mdl-mega-footer--social-btn{background-color:#fff;cursor:pointer;}
.crawltext{font-size:5vw;color:#fff;font-family:'Fira Sans', sans-serif;}
@media screen and (max-width:1024px) and (min-width:768px){.side-padding{width:0px !important;}
}

@media (max-width:600px){.crawltext{font-size:8vw;}
}
#logo{max-width:36vw;max-height:36vw;}
@media screen and (max-width:600px) and (min-width:400px){#logo{max-height:50%;max-width:50%;}
}
@media (max-width:400px){#logo{max-height:80%;max-width:80%;}
}
a{text-decoration:none;}
.tweet{margin-top:0px;}
.fa-twitter{margin-top:20px;}
.a:hover{font-size:50px;color:#2d3f51;}
.faa-pulse{-webkit-animation: pulse 3s linear infinite;animation:pulse 3s linear infinite}
@-webkit-keyframes pulse {0%{-webkit-transform:scale(1.1);transform:scale(1.1);}50%{-webkit-transform:scale(0.8);transform:scale(0.8);}100%{-webkit-transform:scale(1.1);transform:scale(1.1);}}
@keyframes pulse { 0%{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform: scale(1.1);}50% {-webkit-transform:scale(0.8);-ms-transform: scale(0.8);transform:scale(0.8);}100% {-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1);}}
.scrolldown-fab { color: white !important; background: #425c78 !important; right: inherit !important;}